body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  /* background-image: url(../images/theme.jpg); */
}

a {
  color: #00B7FF;
}

#heading{
margin-top: 120px;
}

