<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/dashboards.css' />
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
  

    <div class="container-fluid">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/register">Register</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/tracelist">View</a>
      </li>
      </nav>
    </div>


<section id="h1">
<h1>Agro-Tracking</h1>
</section>

<div class="form-modal">
   <div class="form-toggle">
        <button id="man-toggle" onclick="toggleMan()">Producer</button>
        <button id="dep-toggle" onclick="toggleDep()">Retailer</button>
    </div>

    <div id="man-form">
        <form id="manform" >
            <input type="text" id="producerPrivKey" data-validation="required" placeholder="Enter private key" data-validation-error-msg="You did not enter the private key!" >
            <table>
                        <tr>
                            <td><input id="productId" type="text" placeholder="Enter The Product Id" data-validation="alphanumeric" required ></td>
                             <td><input id="producerId" type="text" placeholder="Enter The Producer Id" data-validation="alphanumeric" ></td>
                            
                        </tr>
                        <tr>
                            <td><input id="itemName" type="text" data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$" placeholder="Item Name" maxlength="20" required ></td>
                            <td><input id="retailerId" type="text" placeholder="Enter The Retailer Id" data-validation="alphanumeric"  required></td>
                            
                        </tr>
                        <tr>
                            <td><input id="dop" type="text" onfocus="(this.type='date')" placeholder="Date of Production" data-validation="date" required</td>
                           <td><input id="doe" type="text" onfocus="(this.type='date')" placeholder="Date of expiary" data-validation="date" required ></td>
                            
                        <tr>
                            <td><input id="quantity" type="text" data-validation="alphanumeric" placeholder="Quantity" required ></td>
                            
                        </tr>
            </table>
            <button id="btn" type="button"  onclick="addProductAsProducer(event)" class="btn login">Add Product</button>
            {{!-- <button id="btn" type="button"  onclick="btnClick(event)" class="btn login">Add Product</button> --}}
        </form>

    </div>

  
    
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>//valiation item name
  $.validate({
    modules : 'html5'
  });
</script>

<script>    //validation private key
  $.validate({
    validateOnBlur : false, // disable validation when input looses focus
    errorMessagePosition : 'top' // Instead of 'inline' which is default
    scrollToTopOnError : false // Set this property to true on longer forms
  });
</script> 

<script>
  $.validate();
  $('#my-textarea').restrictLength( $('#max-length-element') );
</script>

    <div id="dep-form">
        <form id="depform">
            <input id="retailerPrivKey" type="text" data-validation="required" placeholder="Enter private key" data-validation-error-msg="You did not enter the private key!" >
            <table>
                        <tr>
                            <td><input id="productIdR" type="text" placeholder="Enter Product Id"  data-validation="alphanumeric" required ></td>
                            <td><input id="customerId" type="text" placeholder="customer Id"  data-validation="alphanumeric"  required ></td>
                           
                        </tr>
                        <tr>
                            <td><input id="phoneNo" type="text" placeholder="phone No" pattern="[0-9]" data-validation="length" data-validation-length="min10-max10" required></td>
                            <td><input id="dos" type="text" onfocus="(this.type='date')" placeholder="Date of Sale" data-validation="date" required></td>
                            
                        </tr>
                        <tr>
                            <td><input id="itemNameR"  type="text" placeholder="Items Name" data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$"  required placeholder="Item Name" maxlength="20"></td>
                            <td><input id="quantityR" type="text" data-validation="alphanumeric" placeholder="Quantity" required ></td>
                        </tr>
                    </table>
            <button id="btn" type="button" onclick="addProductAsRetailer(event)" class="btn signup">Register Details</button>
            
        </form>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>//valiation item name
  $.validate({
    modules : 'html5'
  });
</script>

<script>    //validation private key
  $.validate({
    validateOnBlur : false, // disable validation when input looses focus
    errorMessagePosition : 'top' // Instead of 'inline' which is default
    scrollToTopOnError : false // Set this property to true on longer forms
  });
</script> 

<script>
  $.validate();
  $('#my-textarea').restrictLength( $('#max-length-element') );
</script>




    </div> 
   
    <a class="nav-link" id="list" href="/tracelist"><h3>List Product Details</h3> </a>

</div>


<script>
    function toggleDep() {
        document.getElementById('manform').reset();
        document.getElementById("man-toggle").style.backgroundColor = "#fff";
        document.getElementById("man-toggle").style.color = "#222";
        document.getElementById("dep-toggle").style.backgroundColor = "#33cc99";
        document.getElementById("dep-toggle").style.color = "#fff";
        document.getElementById("man-form").style.display = "none";
        document.getElementById("dep-form").style.display = "block";
    }

    function toggleMan() {
        document.getElementById('depform').reset();
        document.getElementById("man-toggle").style.backgroundColor = "#33cc99";
        document.getElementById("man-toggle").style.color = "#fff";
        document.getElementById("dep-toggle").style.backgroundColor = "#fff";
        document.getElementById("dep-toggle").style.color = "#222";
        document.getElementById("dep-form").style.display = "none";
        document.getElementById("man-form").style.display = "block";
    }

</script>

<script src='/javascripts/main.js'></script>