<!DOCTYPE html>
<html>
  <head>

    <title>Agro-Tracking</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
<body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <ul class="navbar-nav">
      <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/tracelist">View</a>
      </li>
      </nav>
    </div>

<section id="heading">
        {{!-- <div class="jumbotron jumbotron-fluid"> --}}
          <div class="container-fluid">
              <div class="mx-auto">
          <center><h1 class="text-success" style="font-size:170px;">Agro-Tracking</h1></center>
          <center><h4 class="text-body" style="font-size:30px">The New way to track the Product..Using Blockchain!!</h4></center>
              </div>
          </div>
        {{!-- </div> --}}
</section>


<section id="button">
<div class="container"><center>
    <button id="btn" type="button" onclick="window.location.href = '/register';"  class="btn btn-success" data-toggle="tooltip" title="Lets Register!">CLICK HERE TO REGISTER</button>
    </center>
</div>
</section>



</body>
</html>
