<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/dashboards.css' />
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 

  

    <div class="container-fluid">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="/tracelist">View</a>
      </li>
      </nav>
    </div>

<section id="h1">
<h1>Product Info</h1>
</section>

{{!-- <a class="nav-link" id="home" href="/">Home </a> &nbsp;&nbsp;
<a class="nav-link" id="home" href="/register">REGISTER</a><br><br> --}}<center>
<input class="form-control col-sm-5 mt-30" id="myInput" type="text" placeholder="Search..">
</center>
<br><br>
    <table id="productDetails">
      <tr>
        <th>product ID</th>
        <th>producer ID</th>
        <th>Item Name</th>
        <th>Retailer ID</th>
        <th>Date of Production</th>
        <th>Date of Expiary</th>
         <th>Quantity</th>
         <th>customer Id</th>
        <th>phone number</th>
        <th>Quantity of sale</th>
        <th>Date of sale</th>
       
        
        </tr>
      {{#listings}}
      <tbody id="tpro">
      <tr class="">
        
        <td>{{productId}}</td>
        <td>{{producerId}}</td>
        <td>{{itemName}}</td>
        <td>{{retailerId}}</td>
        <td>{{dop}}</td>
        <td>{{doe}}</td>
         <td>{{quantity}}</td>
         <td>{{customerId}}</td>
        <td>{{phoneNo}}</td>
        <td>{{quantityOfS}}</td>
        <td>{{dos}}</td>
       </tbody>
        

       </tr>
      {{/listings}}
    </table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#tpro tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>